.message-success,
.message-failure {
	width: 624px;
	padding: 8px;
}

.dueldata {
	position: absolute;
	left:50px;bottom:0;
}
.duelecho,
.dueltext {
	width: 600px;
	height: 49%;
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	right: 0;bottom: 0;
}
.duelecho {
	top: 0;
	bottom: auto;
}

button.spl {
	width: 64px;
	height: 64px;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	background: transparent;
	color: rgb(60,160,220);
	border: 3px solid rgb(60,160,220);
	border-radius: 50%;
    font: 36px/48px FontAwesome;
}
button.spl:before {
	content: 'X';
}
button.spl-rock:before {content: '\f255'}
button.spl-scissors:before {content: '\f257'}
button.spl-paper:before {content: '\f256'}
button.spl-lizard:before {content: '\f258'}
button.spl-spock:before {
	content: '\f259';
	padding-left: .15em;
}

button.spl.st-active {
	background-color: rgba(0,100,100,1);
	border-color: darkorange;
	color: darkorange;
}

.gameboard {
	background: black;
	position: relative;
	width: 640px;
	height: 480px;
	border: 1px solid darkgray;
	margin: 24px 0;
}
.round-timer {
	position: absolute;
	left: 50%;top:0;
	margin: 0 0 0 -41px;
	height: 100px;
	width: 82px;
	overflow: hidden;
}
.round-timer > p {
	margin: 0 auto;
	line-height: 18px;
	text-align: center;
}
.round-timer > u.timecirc {
}

.round-message {
	position: absolute;
	top: 120px;
	left:20px;
	right:20px;
	text-align: center;
	font-size: 150%;
}

.dueler {
	width: calc(50% - 50px);
	border: 1px solid blue;
	position: absolute;
	top: 0;
	margin: 5px 0px 0;
}
.dueler-you {left: 0}
.dueler-foe {right:0}
.dueler > p {
	margin: 0;
	position: relative;
	text-align: center;
	height: 36px;
	line-height: 36px;
}
.dueler > p > b,
.dueler > p > u,
.dueler > p > s {
	position: relative;
}
.dueler > p > s {
	position: absolute;
	left:0;width:100%;
	top:0;height:100%;
	background:green;
	transition: width .5s ease 0s;
}
.dueler-you > p > u {float: right}
.dueler-you > p > b {float: left}
.dueler-you > p > u {float: right}
.dueler-foe > p > b {float: right}
.dueler-foe > p > u {float: left}

.gbd-enemy,
.gbd-panel {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 360px;
	margin-left: -180px;
	border: 1px solid blue;
	text-align: center;
}
.gbd-panel > button.spl {margin-left: 4px}
.gbd-panel > button.spl:first-child{margin-left:0}

.gbd-enemy {
	left: auto;right: 0;
	bottom: auto;top: 0;
	width: 180px;
	margin: 42px 0 0;
}
.gbd-enemy button.spl {
	width: 36px;
	height: 36px;
	font-size: 20px;
	line-height: 24px;
	border-width: 2px;
}

/*
.gameboard > big {
	text-align: center;
	display: block;
	margin: 12px auto 0;
	color: yellow;
	font-size: 200%;
}
.gameboard .tmout {
	position: relative;
	width: 100%;
	height: 20px;
	background: gray;
}
.gameboard .tmout > s,
.gameboard .tmout > u {
	text-decoration: none;
	position: absolute;
	left:0; width:100%;
	top:0; height:100%;
}
.gameboard .tmout > s {
	background: darkgreen;
}


.dueler {
	text-align: center;
	width: 200px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.dueler + .dueler {
	left:auto;right: 0;
}
.dueler > p {
	margin: 0;
	text-align: center;
}
.dueler > form {
	margin: 0;
}
.dueler-you button.spl {
	color: cyan;
	box-shadow: inset 0 0 0 3px cyan;
}
*/