html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background: white;
	color: black;
}
body {
	font: .75em/1.25 'Arial';
}
body > div {
	outline: 1px solid dodgerblue;
	background: whitesmoke;
	color: rgb(53,53,53);
	position: absolute;
	left:0px;right:0px;
	top:0px;bottom:0px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0px;
}
body > div.scrollhide {
	right: -25px;
	padding-right: 10px;
}
pre {
	box-shadow: inset 0 0 0 0px black;
	font: 14px/16px monospace;
	font-family: 'Consolas', 'Courier New', monospace;
	background: rgb(0,75,120);
	color: white;
	padding: 6px 8px;
	margin: 0;
}