table,thead,tfoot,tbody,tr,th,td {
	padding: 0;
	margin: 0;
	border: 0;
}
table {
	border-collapse: collapse;
	min-width: 360px;
}
th,td {
	border: 1px solid gray;
	font-weight: normal;
	padding: 3px 6px;
	text-align: left;
	vertical-align: middle;
	height: 36px;
}
tr.hlgt {
	background-color: rgba(250,250,250,.2);
}

.mask-grid {
	position: relative;
}
.mask-grid:before {
	content: '';
	pointer-events: none;
	position: absolute;
	width:100%; left:0;
	height:100%; top:0;
}
.mask-grid:before {
	opacity: .25;
	background: transparent none repeat 0 0;
	background-image: 
		linear-gradient(90deg, transparent 0%, transparent 50%, black 50%, black),
		linear-gradient(180deg, transparent 0%, transparent 50%, black 50%, black);
	background-size: 2px 2px;
}

.message-success,
.message-failure,
.message-warning {
	position: relative;
	background: rgb(30,60,30);
	border: 1px solid black;
	padding: 12px;
	min-width: 360px;
	margin: 12px 0 12px;
	border-radius: 3px;
	box-shadow: 3px 4px 6px 0 rgba(0,0,0,.5);
	color: lightgreen;
}
.message-failure {
	background: rgb(100,35,35);
	color: white;
}
.message-warning {
	background: rgb(210,190,110);
	color: black;
}
.divover {
	background: rgb(39,46,59);
	border: 1px solid black;
	padding: 12px 12px;
	min-width: 214px;
	max-width: 374px;
	min-height: 94px;
	margin: 0 auto;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 0 0 1px rgba(255,255,255,.125) inset, 3px 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	margin: 0;
	outline: 0;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px 12px;
	color: whitesmoke;
	height: 36px;
	font-size: 15px;
	line-height: 16px;
	background-color: rgb(0, 118, 173);
	background-image: linear-gradient(180deg, rgba(255,255,255,.25) 6%,transparent 75%);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.15) inset;	
	text-shadow: 0px 0px 0px black;
	text-overflow: ellipsis;
	border-radius: 2px;
}
a.btn,
a.btn:link,
a.btn:visited {
	height: 31px;
	padding-top: 5px;
	line-height: 24px;
}
.btn:hover,
.btn:active {
    color: white;
	box-shadow: none;
    border-color: transparent;
	background-image: none;
}
.btn:hover {background-color: rgb(60, 160, 220)}
.btn:active {background-color: rgb(0, 104, 153)}

.btn[disabled],
a.btn:not([href]) {
	background-color: rgb(111,111,111);
	background-image: none;
	box-shadow: none;
	color: lightgray;
	cursor: default;
}

input[type="text"],
input[type="password"],
select,
textarea {
	box-sizing: border-box;
	vertical-align: middle;
	background-color: rgba(0,0,0,.3);
	color: whitesmoke;
    font: inherit;
	margin: 0;
	padding: 0 10px;
    line-height: 34px;
    height: 36px;
    text-decoration: none;
    text-align: left;
	border: 1px solid rgba(125,125,125,.75);
}
textarea {
	min-width: 300px;
	min-height: 120px;
	padding: 0 5px;
	line-height: normal;
}